POSTGRES_DB=monitor_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here

KEYCLOAK_DB=keycloak_db
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=your_password_here

PGADMIN_DEFAULT_EMAIL=admin@monitor.com
PGADMIN_DEFAULT_PASSWORD=your_password_here
