# Root & General OS Files
.DS_Store
Thumbs.db
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Secrets (Chặn toàn bộ file .env)
.env
.env.*
!.env.example
docker/*.log

# IDE & Editor Files
.idea/
.vscode/
*.iml
*.iws
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Frontend (React) - monitor-frontend
frontend/monitor-frontend/node_modules/
frontend/monitor-frontend/build/
frontend/monitor-frontend/coverage/
frontend/monitor-frontend/tools/node/
frontend/monitor-frontend/.pnp
frontend/monitor-frontend/.pnp.js

# Backend (Spring Boot) - portal_service
backend/portal_service/target/
backend/portal_service/build/
backend/portal_service/tools/jdk-21/
backend/portal_service/HELP.md
backend/portal_service/.env

# GIỮ LẠI MAVEN WRAPPER (Không ignore các file này)
!backend/portal_service/.mvn/
!backend/portal_service/mvnw
!backend/portal_service/mvnw.cmd

# Backend (Spring Boot) - monitor_service
backend/monitor_service/target/
backend/monitor_service/build/
backend/monitor_service/tools/jdk-21/
backend/monitor_service/HELP.md
backend/monitor_service/.env

# GIỮ LẠI MAVEN WRAPPER (Không ignore các file này)
!backend/monitor_service/.mvn/
!backend/monitor_service/mvnw
!backend/monitor_service/mvnw.cmd