# Root & General OS Files
.DS_Store
Thumbs.db
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Secrets (Chặn toàn bộ file .env)
.env
.env.*
!.env.example
docker/*.log

# IDE & Editor Files
.idea/
.vscode/
*.iml
*.iws
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Frontend (React) - monitor-frontend
frontend/monitor-frontend/node_modules/
frontend/monitor-frontend/build/
frontend/monitor-frontend/coverage/
frontend/monitor-frontend/tools/node/
frontend/monitor-frontend/.pnp
frontend/monitor-frontend/.pnp.js

# Backend (Spring Boot) - monitor-backend
backend/monitor-backend/target/
backend/monitor-backend/build/
backend/monitor-backend/tools/jdk-21/
backend/monitor-backend/HELP.md

# GIỮ LẠI MAVEN WRAPPER (Không ignore các file này)
!backend/monitor-backend/.mvn/
!backend/monitor-backend/mvnw
!backend/monitor-backend/mvnw.cmd
