# ==========================================
# APP SERVER CONFIG
# ==========================================
MONITOR_SERVER_PORT=5001

# ==========================================
# MONITOR SERVICE SPECIFIC CONFIG
# ==========================================
SQLITE_DB_PATH=monitor_local.db
SNMP_TIMEOUT=1500
SNMP_RETRIES=2
SYSLOG_PORT=5140
SYSLOG_PROTOCOL=udp

# ==========================================
# KAFKA CONFIG
# ==========================================
KAFKA_BOOTSTRAP_SERVERS=localhost:9092