# ============================================================
# GENERAL & BINDING
# ============================================================

BIND_IP=0.0.0.0
NETWORK_NAME=monitor-net


# ============================================================
# IMAGE VERSIONS
# ============================================================

POSTGRES_VERSION=18.6-alpine3.23
REDIS_VERSION=8.10.2-alpine
KEYCLOAK_VERSION=26.7.2
KAFKA_VERSION=4.3.0
STALWART_VERSION=v0.16.20
SNAPPYMAIL_VERSION=v2.38.2
PGADMIN_VERSION=9.18
REDIS_INSIGHT_VERSION=3.8.0
KAFKA_UI_VERSION=v0.7.2


# ============================================================
# POSTGRESQL
# ============================================================

POSTGRES_PORT=5432

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password

POSTGRES_DB_MONITOR=monitor_db
POSTGRES_DB_KEYCLOAK=keycloak_db


# ============================================================
# REDIS
# ============================================================

REDIS_PORT=6379
REDIS_PASSWORD=your_password


# ============================================================
# KEYCLOAK
# ============================================================

KEYCLOAK_PORT=8080

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=your_password


# ============================================================
# KAFKA
# ============================================================

KAFKA_PORT=9092
EXTERNAL_KAFKA_HOST=localhost


# ============================================================
# STALWART MAIL SERVER
# ============================================================

STALWART_HTTP_PORT=8090
STALWART_HTTPS_PORT=8443

STALWART_SMTP_PORT=25
STALWART_SUBMISSION_PORT=587
STALWART_SMTPS_PORT=465

STALWART_IMAP_PORT=143
STALWART_IMAPS_PORT=993

STALWART_POP3_PORT=110
STALWART_POP3S_PORT=995

STALWART_SIEVE_PORT=4190

STALWART_PUBLIC_URL=http://localhost:8090


# ============================================================
# SNAPPYMAIL
# ============================================================

SNAPPYMAIL_PORT=8888


# ============================================================
# PGADMIN
# ============================================================

PGADMIN_PORT=8081

PGADMIN_DEFAULT_EMAIL=admin@monitor.com
PGADMIN_DEFAULT_PASSWORD=your_password


# ============================================================
# REDIS INSIGHT
# ============================================================

REDIS_INSIGHT_PORT=5540


# ============================================================
# KAFKA UI
# ============================================================

KAFKA_UI_PORT=8082
KAFKA_CLUSTER_NAME=local-kraft-cluster