# ==========================================
# POSTGRESQL CONFIG
# ==========================================
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB_MONITOR=monitor_db
POSTGRES_DB_KEYCLOAK=keycloak_db
POSTGRES_DB_MAILU=mailu_db

# ==========================================
# REDIS CONFIG
# ==========================================
REDIS_PORT=6379
REDIS_PASSWORD=your_password

# ==========================================
# KEYCLOAK CONFIG
# ==========================================
KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=your_password

# ==========================================
# KAFKA CONFIG
# ==========================================
KAFKA_HOST=localhost
KAFKA_PORT=9092

# ==========================================
# MAILU CONFIG
# ==========================================
MAILU_DOMAIN=monitor.com
MAILU_HOSTNAME=mail.monitor.com
MAILU_SECRET_KEY=ChangeMeToAVeryLongAndSecretKey123!
MAILU_ADMIN_PWD=your_password
MAILU_HTTP_PORT=8025
MAILU_SMTP_PORT=25
MAILU_SUBMISSION_PORT=587
MAILU_IMAP_PORT=143

# ==========================================
# UI MANAGEMENT TOOLS PORTS
# ==========================================
PGADMIN_PORT=8081
PGADMIN_DEFAULT_EMAIL=admin@monitor.com
PGADMIN_DEFAULT_PASSWORD=your_password

REDIS_INSIGHT_PORT=5540
KAFKA_UI_PORT=8082